{% extends "base.html" %}
{% load static %}

    {% block extra_css %}
            <link rel="stylesheet" href="{% static 'blog/css/details.css' %}">
    {% endblock %}

{% block title %}{{post.title}}{% endblock %}
{% block content %}
    <p>.</p>
    <h1>{{post.title}}</h1>

    <span>{{post.created_at}}</span>

    <div>
        
        {{post.content|linebreaks}}
    </div>

    <a class ="volver" href="{% url 'blog:index' %}">╰⪼ Volver</a>

    <hr>

    <div>
        <form method='post' action='.'>
            {% csrf_token %}
            {{form.as_p}}
            <button class="volver">Enviar >⩊<</button>
        </form>

        <hr>
        {% for comment in post.comments.all %}
            <div class="container-fluid">
                <h3 class="usuario-nombre">{{comment.name}} <span class="tiempo-comentario">- Hace {{comment.created_at|timesince}}</span></h3>
                <hr>
                <p>{{comment.content|linebreaks}}</p>
            </div>
        {% empty %}
            <div>
                <p>No hay comentairos todavia... ( ˶°ㅁ°) !!</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}