{% block title %}{{post.title}}{% endblock %}

{% block content %}
    <h1>{{post.title}}</h1>

    <span>{{post.created_at}}</span>

    <div>
        <br> <!-- dps cambio pq esta mal poner un br asi noma -->
        {{post.content|linebreaks}}
    </div>

    <hr>

    <div>
        <form method='post' action='.'>
            {% csrf_token %}
            {{form.as_p}}
            <button>submit</button>
        </form>

        <hr>
        {% for comment in post.comments.all %}
            <div class="container">
                <h3>{{comment.name}} @ Hace {{comment.created_at|timesince}}</h3>
                <p>{{comment.content|linebreaks}}</p>
            </div>
        {% empty %}
            <div>
                <p>nonahy comentairos todavia..</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}